---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Roboto', serif;
$base-font-size:   1.2em;
$small-font-size:  0.875em;
$vsmall-font-size: 0.33em;
$base-line-height: 1.5;
$spacing-unit:     0.5em;

$grey-vlight:#eee;
$grey-light: #ccc;
$grey:       #888;
$grey-dark:  #444;
$grey-vdark: #222;
$blue:       #0091ed;
$orange:     #ca6c18;
$red:        #b6321c;

$background:        #EFEFE9;
$dark-background:   darken($background, 5%);
$text-color:        #46433A;
$text-light-color:  $grey;
$url-color:         #668866;
$url-hover-color:   $orange;
$header-text-color: $text-light-color;
$header-hover-color:$text-color;
$header-hover-url:  $url-color;
$line-color:        $grey-light;

// Width of the content area
$content-width:    50em;
$content-min-width:15em;
$mobile:           32em;
$desktop:          50em;


h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

.sub-menu {
    background: $background;
}

.post {
    padding: 12px;
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image"
;
