<footer class="site-footer">
Impressum <br>
<br>
Anschrift<br>
Institut für Statistik<br>
Ludwigstraße 33<br>
D-80539 München<br>
<br>
Telefon: +49 (0)89 / 2180-3195 (Geschäftsstelle)<br>
Telefax: +49 (0)89 / 2180-5041 (Geschäftsstelle)<br>
<br>
Verantwortlich für den Inhalt<br>
Webmaster des Instituts für Statistik, sowie die jeweiligen Lehrstühle und Arbeitsgruppen und deren Mitglieder

Zuständige Aufsichtsbehörde<br>
Bayerisches Staatsministerium für Wissenschaft, Forschung und Kunst
80327 München
Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE 811205325<br>
<br>
Haftungsausschluss<br>
Alle Angaben auf diesen Seiten wurden nach bestem Wissen erstellt, Fehler können jedoch nicht mit letzter Sicherheit ausgeschlossen werden. Rechtlich verbindlich sind ausschließlich die Festlegungen in den einschlägigen Rechtsgrundlagen (Gesetze, Verordnungen, Satzungen).
<br>
Diese Seiten enthalten Links zu externen Angeboten. Trotz sorgfältiger Kontrolle wird keine Haftung für diese übernommen. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br />

</footer>
