<h1>Journal Articles</h1>
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2015">15</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, M.&nbsp;Lang, O.&nbsp;Mersmann, J.&nbsp;Rahnenf&uuml;hrer, and C.&nbsp;Weihs.
 BatchJobs and BatchExperiments: Abstraction mechanisms for using
  R in batch environments.
 <em>Journal of Statistical Software</em>, 64(11):1&ndash;25, Mar. 2015.
[&nbsp;<a href="journals_bib.html#Bischl2015">bib</a>&nbsp;| 
<a href="http://www.jstatsoft.org/v64/i11">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Casalicchio2015">14</a>]
</td>
<td class="bibtexitem">
G.&nbsp;Casalicchio, B.&nbsp;Bischl, A.-L. Boulesteix, and M.&nbsp;Schmid.
 The residual-based predictiveness curve - a visual tool to assess the
  performance of prediction models (PREPARING SUBMISSION).
 <em>Biometrics</em>, 2015.
[&nbsp;<a href="journals_bib.html#Casalicchio2015">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Feilke2015">13</a>]
</td>
<td class="bibtexitem">
M.&nbsp;Feilke, B.&nbsp;Bischl, V.&nbsp;Schmid, and J.&nbsp;Gertheiss.
 Boosting in non-linear regression models with an application to
  DCE-MRI data (PREPARING SUBMISSION).
 <em>Methods of Information in Medicine</em>, 2015.
[&nbsp;<a href="journals_bib.html#Feilke2015">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Horn2015">12</a>]
</td>
<td class="bibtexitem">
D.&nbsp;Horn, A.&nbsp;Demircio&#x11F;lu, B.&nbsp;Bischl, T.&nbsp;Glasmachers, and C.&nbsp;Weihs.
 A comparative study on large scale kernelized support vector machines
  (PREPARING SUBMISSION).
 <em>Advances in Data Analysis and Classification</em>, 2015.
[&nbsp;<a href="journals_bib.html#Horn2015">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Kotthaus2014">11</a>]
</td>
<td class="bibtexitem">
H.&nbsp;Kotthaus, I.&nbsp;Korb, M.&nbsp;Lang, B.&nbsp;Bischl, J.&nbsp;Rahnenführer, and P.&nbsp;Marwedel.
 Runtime and memory consumption analyses for machine learning R
  programs.
 <em>Journal of Statistical Computation and Simulation</em>,
  85(1):14&ndash;29, 2015.
[&nbsp;<a href="journals_bib.html#Kotthaus2014">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1080/00949655.2014.925192">DOI</a>&nbsp;| 
<a href="http://arxiv.org/abs/http://dx.doi.org/10.1080/00949655.2014.925192">arXiv</a>&nbsp;| 
<a href="/mypapers/runtime_and_memory_consumption_analyses_for_machine_learning_r_programs.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1080/00949655.2014.925192">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Lang2015">10</a>]
</td>
<td class="bibtexitem">
M.&nbsp;Lang, H.&nbsp;Kotthaus, P.&nbsp;Marwedel, C.&nbsp;Weihs, J.&nbsp;Rahnenführer, and B.&nbsp;Bischl.
 Automatic model selection for high-dimensional survival analysis.
 <em>Journal of Statistical Computation and Simulation</em>,
  85(1):62&ndash;76, 2015.
[&nbsp;<a href="journals_bib.html#Lang2015">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1080/00949655.2014.929131">DOI</a>&nbsp;| 
<a href="/mypapers/automatic_model_selection_for_high_dimensional_survival_analysis.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1080/00949655.2014.929131">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Vanschoren2014">9</a>]
</td>
<td class="bibtexitem">
J.&nbsp;Vanschoren, J.&nbsp;N. van Rijn, B.&nbsp;Bischl, and L.&nbsp;Torgo.
 OpenML: Networked science in machine learning.
 <em>SIGKDD Explor. Newsl.</em>, 15(2):49&ndash;60, June 2014.
[&nbsp;<a href="journals_bib.html#Vanschoren2014">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/2641190.2641198">DOI</a>&nbsp;| 
<a href="/mypapers/openml_networked_science_in_machine_learning.pdf">.pdf</a>&nbsp;| 
<a href="http://doi.acm.org/10.1145/2641190.2641198">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2014">8</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, P.&nbsp;Kerschke, L.&nbsp;Kotthoff, M.&nbsp;Lindauer, Y.&nbsp;Malitsky,
  A.&nbsp;Frech&eacute;tte, H.&nbsp;Hoos, F.&nbsp;Hutter, K.&nbsp;Leyton-Brown, K.&nbsp;Tierney, and
  J.&nbsp;Vanschoren.
 ASlib: A benchmark library for algorithm selection (SUBMITTED).
 <em>Artificial Intelligence</em>, 2014.
[&nbsp;<a href="journals_bib.html#Bischl2014">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Mersmann2014">7</a>]
</td>
<td class="bibtexitem">
O.&nbsp;Mersmann, M.&nbsp;Preuss, H.&nbsp;Trautmann, B.&nbsp;Bischl, and C.&nbsp;Weihs.
 Analyzing the BBOB results by means of benchmarking concepts.
 <em>Evolutionary Computation Journal</em>, 2014.
[&nbsp;<a href="journals_bib.html#Mersmann2014">bib</a>&nbsp;| 
<a href="http://dx.doi.org/doi:10.1162/EVCO_a_00134">DOI</a>&nbsp;| 
<a href="/mypapers/analyzing_the_bbob_results_by_means_of_benchmarking_concepts.pdf">.pdf</a>&nbsp;| 
<a href="http://www.mitpressjournals.org/doi/abs/10.1162/EVCO_a_00134">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2013_2">6</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, J.&nbsp;Schiffner, and C.&nbsp;Weihs.
 Benchmarking local classification methods.
 <em>Computational Statistics</em>, 28(6):2599&ndash;2619, 2013.
[&nbsp;<a href="journals_bib.html#Bischl2013_2">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/s00180-013-0420-y">DOI</a>&nbsp;| 
<a href="/mypapers/benchmarking_local_classification_methods.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/s00180-013-0420-y">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Mersmann2013">5</a>]
</td>
<td class="bibtexitem">
O.&nbsp;Mersmann, B.&nbsp;Bischl, H.&nbsp;Trautmann, M.&nbsp;Wagner, J.&nbsp;Bossek, and F.&nbsp;Neumann.
 A novel feature-based approach to characterize algorithm performance
  for the traveling salesperson problem.
 <em>Annals of Mathematics and Artificial Intelligence</em>, March:1&ndash;32,
  2013.
[&nbsp;<a href="journals_bib.html#Mersmann2013">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/s10472-013-9341-2">DOI</a>&nbsp;| 
<a href="/mypapers/a_novel_feature_based_approach_to_characterize_algorithm_performance_for_the_traveling_salesperson_problem.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/s10472-013-9341-2">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2012">4</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, O.&nbsp;Mersmann, H.&nbsp;Trautmann, and C.&nbsp;Weihs.
 Resampling methods for meta-model validation with recommendations for
  evolutionary computation.
 <em>Evolutionary Computation</em>, 20(2):249&ndash;275, 2012.
[&nbsp;<a href="journals_bib.html#Bischl2012">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1162/EVCO_a_00069">DOI</a>&nbsp;| 
<a href="http://www.mitpressjournals.org/doi/pdf/10.1162/EVCO_a_00069">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Koch2012">3</a>]
</td>
<td class="bibtexitem">
P.&nbsp;Koch, B.&nbsp;Bischl, O.&nbsp;Flasch, T.&nbsp;Bartz-Beielstein, C.&nbsp;Weihs, and W.&nbsp;Konen.
 Tuning and evolution of support vector kernels.
 <em>Evolutionary Intelligence</em>, 5(3):153&ndash;170, 2012.
[&nbsp;<a href="journals_bib.html#Koch2012">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/s12065-012-0073-8">DOI</a>&nbsp;| 
<a href="/mypapers/tuning_and_evolution_of_support_vector_kernels.pdf">.pdf</a>&nbsp;| 
<a href="http://link.springer.com/article/10.1007\%2Fs12065-012-0073-8">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Blume2011">2</a>]
</td>
<td class="bibtexitem">
H.&nbsp;Blume, B.&nbsp;Bischl, M.&nbsp;Botteck, C.&nbsp;Igel, R.&nbsp;Martin, G.&nbsp;Roetter, G.&nbsp;Rudolph,
  W.&nbsp;Theimer, I.&nbsp;Vatolkin, and C.&nbsp;Weihs.
 Huge music archives on mobile devices.
 <em>IEEE Signal Processing Magazine</em>, 28(4):24&ndash;39, 2011.
[&nbsp;<a href="journals_bib.html#Blume2011">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/MSP.2011.940880">DOI</a>&nbsp;| 
<a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=5888636&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D5888636">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Szepannek2008">1</a>]
</td>
<td class="bibtexitem">
G.&nbsp;Szepannek, B.&nbsp;Bischl, and C.&nbsp;Weihs.
 On the combination of locally optimal pairwise classifiers.
 <em>Journal of Engineering Applications of Artificial Intelligence</em>,
  22(1):79&ndash;85, 2008.
[&nbsp;<a href="journals_bib.html#Szepannek2008">bib</a>&nbsp;| 
<a href="/mypapers/on_the_combination_of_locally_optimal_pairwise_classifiers_2.pdf">.pdf</a>&nbsp;| 
<a href="http://link.springer.com/chapter/10.1007%2F978-3-540-73499-4_9">http</a>&nbsp;]

</td>
</tr>
</table><h1>Conference Articles (Peer Reviewed)</h1>
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Brockhoff2015">25</a>]
</td>
<td class="bibtexitem">
D.&nbsp;Brockhoff, B.&nbsp;Bischl, and T.&nbsp;Wagner.
 The Impact of Initial Designs on the Performance of MATSuMoTo on the
  Noiseless BBOB-2015 Testbed: A Preliminary Study.
 In <em>GECCO '15 Companion</em>, Madrid, Spain, July 2015.
[&nbsp;<a href="conferences_bib.html#Brockhoff2015">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/2739482.2768470">DOI</a>&nbsp;| 
<a href="https://hal.inria.fr/hal-01161504">http</a>&nbsp;| 
<a href="https://hal.inria.fr/hal-01161504/file/brockhoff-initialDesign-authorversion.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bauer2015_1">24</a>]
</td>
<td class="bibtexitem">
N.&nbsp;Bauer, K.&nbsp;Friedrichs, B.&nbsp;Bischl, and C.&nbsp;Weihs.
 Fast model based optimization of tone onset detection by instance
  sampling (SUBMITTED).
 In <em>Data Analysis, Machine Learning and Knowledge Discovery</em>,
  Studies in Classification, Data Analysis, and Knowledge Organization, 2015.
[&nbsp;<a href="conferences_bib.html#Bauer2015_1">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2015">23</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, T.&nbsp;Kühn, and G.&nbsp;Szepannek.
 On class imbalancy correction for classification algorithms in credit
  scoring (SUBMITTED).
 In <em>Operations Research Proceedings 2014</em>, Operations Research
  Proceedings. Springer, 2015.
[&nbsp;<a href="conferences_bib.html#Bischl2015">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Horn2015">22</a>]
</td>
<td class="bibtexitem">
D.&nbsp;Horn, T.&nbsp;Wagner, D.&nbsp;Biermann, C.&nbsp;Weihs, and B.&nbsp;Bischl.
 Model-based multi-objective optimization: Taxonomy, multi-point
  proposal, toolbox and benchmark.
 In A.&nbsp;Gaspar-Cunha, C.&nbsp;Henggeler&nbsp;Antunes, and C.&nbsp;C. Coello, editors,
  <em>Evolutionary Multi-Criterion Optimization (EMO)</em>, volume 9018 of <em>
  Lecture Notes in Computer Science</em>, pages 64&ndash;78. Springer, 2015.
[&nbsp;<a href="conferences_bib.html#Horn2015">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-15934-8_5">DOI</a>&nbsp;| 
<a href="/mypapers/model_based_multi_objective_optimization_taxonomy_multi_point_proposal_toolbox_and_benchmark.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-15934-8_5">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2014_1">21</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, J.&nbsp;Schiffner, and C.&nbsp;Weihs.
 Benchmarking classification algorithms on high-performance computing
  clusters.
 In M.&nbsp;Spiliopoulou, L.&nbsp;Schmidt-Thieme, and R.&nbsp;Janning, editors, <em>
  Data Analysis, Machine Learning and Knowledge Discovery</em>, Studies in
  Classification, Data Analysis, and Knowledge Organization, pages 23&ndash;31.
  Springer, 2014.
[&nbsp;<a href="conferences_bib.html#Bischl2014_1">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-01595-8_3">DOI</a>&nbsp;| 
<a href="/mypapers/benchmarking_classification_algorithms_on_high_performance_computing_clusters.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-01595-8_3">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2014_2">20</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, S.&nbsp;Wessing, N.&nbsp;Bauer, K.&nbsp;Friedrichs, and C.&nbsp;Weihs.
 MOI-MBO: Multiobjective infill for parallel model-based
  optimization.
 In P.&nbsp;M. Pardalos, M.&nbsp;G. Resende, C.&nbsp;Vogiatzis, and J.&nbsp;L. Walteros,
  editors, <em>Learning and Intelligent Optimization</em>, Lecture Notes in
  Computer Science, pages 173&ndash;186. Springer, 2014.
[&nbsp;<a href="conferences_bib.html#Bischl2014_2">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-09584-4_17">DOI</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-09584-4_17">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Kerschke2014">19</a>]
</td>
<td class="bibtexitem">
P.&nbsp;Kerschke, M.&nbsp;Preuss, C.&nbsp;Hern&aacute;ndez, O.&nbsp;Sch&uuml;tze, J.-Q. Sun, C.&nbsp;Grimme,
  G.&nbsp;Rudolph, B.&nbsp;Bischl, and H.&nbsp;Trautmann.
 Cell mapping techniques for exploratory landscape analysis.
 In <em>Proceedings of the EVOLVE 2014: A Bridge between
  Probability, Set Oriented Numerics, and Evolutionary Computation</em>, pages
  115&ndash;131. Springer, 2014.
[&nbsp;<a href="conferences_bib.html#Kerschke2014">bib</a>&nbsp;| 
<a href="/mypapers/cell_mapping_techniques_for_exploratory_landscape_analysis.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Meyer2014">18</a>]
</td>
<td class="bibtexitem">
O.&nbsp;Meyer, B.&nbsp;Bischl, and C.&nbsp;Weihs.
 Support vector machines on large data sets: Simple parallel
  approaches.
 In M.&nbsp;Spiliopoulou, L.&nbsp;Schmidt-Thieme, and R.&nbsp;Janning, editors, <em>
  Data Analysis, Machine Learning and Knowledge Discovery</em>, Studies in
  Classification, Data Analysis, and Knowledge Organization, pages 87&ndash;95.
  Springer, 2014.
[&nbsp;<a href="conferences_bib.html#Meyer2014">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-01595-8_10">DOI</a>&nbsp;| 
<a href="/mypapers/support_vector_machines_on_large_data_sets_simple_parallel_approaches.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-01595-8_10">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Vatolkin2014">17</a>]
</td>
<td class="bibtexitem">
I.&nbsp;Vatolkin, B.&nbsp;Bischl, G.&nbsp;Rudolph, and C.&nbsp;Weihs.
 Statistical comparison of classifiers for multi-objective feature
  selection in instrument recognition.
 In M.&nbsp;Spiliopoulou, L.&nbsp;Schmidt-Thieme, and R.&nbsp;Janning, editors, <em>
  Data Analysis, Machine Learning and Knowledge Discovery</em>, Studies in
  Classification, Data Analysis, and Knowledge Organization, pages 171&ndash;178.
  Springer, 2014.
[&nbsp;<a href="conferences_bib.html#Vatolkin2014">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-01595-8_19">DOI</a>&nbsp;| 
<a href="/mypapers/statistical_comparison_of_classifiers_for_multi_objective_feature_selection_in_instrument_recognition.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-01595-8_19">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Hess2013">16</a>]
</td>
<td class="bibtexitem">
S.&nbsp;Hess, T.&nbsp;Wagner, and B.&nbsp;Bischl.
 PROGRESS: Progressive reinforcement-learning-based surrogate
  selection.
 In G.&nbsp;Nicosia and P.&nbsp;Pardalos, editors, <em>Learning and Intelligent
  Optimization</em>, Lecture Notes in Computer Science, pages 110&ndash;124. Springer,
  2013.
[&nbsp;<a href="conferences_bib.html#Hess2013">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-44973-4_13">DOI</a>&nbsp;| 
<a href="/mypapers/progress_progressive_reinforcement_learning_based_surrogate_selection.pdf">.pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-44973-4_13">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Nallaperuma2013">15</a>]
</td>
<td class="bibtexitem">
S.&nbsp;Nallaperuma, M.&nbsp;Wagner, F.&nbsp;Neumann, B.&nbsp;Bischl, O.&nbsp;Mersmann, and
  H.&nbsp;Trautmann.
 A feature-based comparison of local search and the christofides
  algorithm for the travelling salesperson problem.
 In <em>Foundations of Genetic Algorithms (FOGA)</em>, 2013.
[&nbsp;<a href="conferences_bib.html#Nallaperuma2013">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/2460239.2460253">DOI</a>&nbsp;| 
<a href="/mypapers/a_feature_based_comparison_of_local_search_and_the_christofides_algorithm_for_the_travelling_salesperson_problem.pdf">.pdf</a>&nbsp;| 
<a href="http://dl.acm.org/citation.cfm?id=2460253">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Rijn2013">14</a>]
</td>
<td class="bibtexitem">
J.&nbsp;van Rijn, B.&nbsp;Bischl, L.&nbsp;Torgo, G.&nbsp;Gao, V.&nbsp;Umaashankar, S.&nbsp;Fischer,
  P.&nbsp;Winter, B.&nbsp;Wiswedel, M.&nbsp;Berthold, and J.&nbsp;Vanschoren.
 OpenML: A collaborative science platform.
 In <em>ECML/PKDD (3)</em>, pages 645&ndash;649, 2013.
[&nbsp;<a href="conferences_bib.html#Rijn2013">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-40994-3_46">DOI</a>&nbsp;| 
<a href="http://www.ecmlpkdd2013.org/wp-content/uploads/2013/07/647.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Rijn2013_2">13</a>]
</td>
<td class="bibtexitem">
J.&nbsp;van Rijn, V.&nbsp;Umaashankar, S.&nbsp;Fischer, B.&nbsp;Bischl, L.&nbsp;Torgo, B.&nbsp;Gao,
  P.&nbsp;Winter, B.&nbsp;Wiswedel, M.&nbsp;R. Berthold, and J.&nbsp;Vanschoren.
 A RapidMiner extension for Open Machine Learning.
 In <em>RapidMiner Community Meeting and Conference (RCOMM)</em>,
  pages 59&ndash;70, 2013.
[&nbsp;<a href="conferences_bib.html#Rijn2013_2">bib</a>&nbsp;| 
<a href="/mypapers/a_rapidminer_extension_for_open_machine_learning.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2012_4">12</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, O.&nbsp;Mersmann, H.&nbsp;Trautmann, and M.&nbsp;Preuss.
 Algorithm selection based on exploratory landscape analysis and
  cost-sensitive learning.
 In <em>Genetic and Evolutionary Computation Conference (GECCO)</em>,
  2012.
[&nbsp;<a href="conferences_bib.html#Bischl2012_4">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/2330163.2330209">DOI</a>&nbsp;| 
<a href="/mypapers/algorithm_selection_based_on_exploratory_landscape_analysis_and_cost_sensitive_learning.pdf">.pdf</a>&nbsp;| 
<a href="http://dl.acm.org/citation.cfm?id=2330163.2330209">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Mersmann2012">11</a>]
</td>
<td class="bibtexitem">
O.&nbsp;Mersmann, B.&nbsp;Bischl, J.&nbsp;Bossek, H.&nbsp;Trautmann, W.&nbsp;M., and F.&nbsp;Neumann.
 Local search and the traveling salesman problem: A feature-based
  characterization of problem hardness.
 In <em>Learning and Intelligent Optimization Conference (LION)</em>,
  2012.
[&nbsp;<a href="conferences_bib.html#Mersmann2012">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-34413-8_9">DOI</a>&nbsp;| 
<a href="http://cs.adelaide.edu.au/~markus/pub/2012lion.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Schiffner2012">10</a>]
</td>
<td class="bibtexitem">
J.&nbsp;Schiffner, B.&nbsp;Bischl, and C.&nbsp;Weihs.
 Bias-variance analysis of local classification methods.
 In W.&nbsp;Gaul, A.&nbsp;Geyer-Schulz, L.&nbsp;Schmidt-Thieme, and J.&nbsp;Kunze,
  editors, <em>Challenges at the Interface of Data Analysis, Computer Science,
  and Optimization</em>, Studies in Classification, Data Analysis, and Knowledge
  Organization, pages 49&ndash;57, Berlin Heidelberg, 2012. Springer.
[&nbsp;<a href="conferences_bib.html#Schiffner2012">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-24466-7_6">DOI</a>&nbsp;| 
<a href="/mypapers/bias_variance_analysis_of_local_classification_methods.pdf">.pdf</a>&nbsp;| 
<a href="http://link.springer.com/chapter/10.1007\%2F978-3-642-24466-7_6">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Weihs2012">9</a>]
</td>
<td class="bibtexitem">
C.&nbsp;Weihs, O.&nbsp;Mersmann, B.&nbsp;Bischl, A.&nbsp;Fritsch, H.&nbsp;Trautmann, T.&nbsp;Karbach, and
  B.&nbsp;Spaan.
 A case study on the use of statistical classification methods in
  particle physics.
 In W.&nbsp;Gaul, A.&nbsp;Geyer-Schulz, L.&nbsp;Schmidt-Thieme, and J.&nbsp;Kunze,
  editors, <em>Challenges at the Interface of Data Analysis, Computer Science,
  and Optimization</em>, Studies in Classification, Data Analysis, and Knowledge
  Organization, pages 69&ndash;77, Berlin Heidelberg, 2012. Springer.
[&nbsp;<a href="conferences_bib.html#Weihs2012">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-24466-7_8">DOI</a>&nbsp;| 
<a href="http://link.springer.com/content/pdf/10.1007\%2F978-3-642-24466-7_8">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Mersmann2011">8</a>]
</td>
<td class="bibtexitem">
O.&nbsp;Mersmann, B.&nbsp;Bischl, H.&nbsp;Trautmann, M.&nbsp;Preuss, C.&nbsp;Weihs, and G.&nbsp;Rudolph.
 Exploratory landscape analysis.
 In N.&nbsp;Krasnogor, editor, <em>Proceedings of the 13th annual
  conference on genetic and evolutionary computation (GECCO
  11)</em>, pages 829&ndash;836, New York, NY, USA, 2011. ACM.
[&nbsp;<a href="conferences_bib.html#Mersmann2011">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/2001576.2001690">DOI</a>&nbsp;| 
<a href="/mypapers/exploratory_landscape_analysis.pdf">.pdf</a>&nbsp;| 
<a href="http://dl.acm.org/citation.cfm?id=2001690">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Weihs2011">7</a>]
</td>
<td class="bibtexitem">
C.&nbsp;Weihs, K.&nbsp;Friedrichs, and B.&nbsp;Bischl.
 Statistics for hearing aids: Auralization.
 In <em>Second Bilateral German-Polish Symposium on Data Analysis and
  its Applications (GPSDAA)</em>, 2011.
[&nbsp;<a href="conferences_bib.html#Weihs2011">bib</a>&nbsp;| 
<a href="/mypapers/statistics_for_hearing_aids_auralization.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2010">6</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, O.&nbsp;Mersmann, and H.&nbsp;Trautmann.
 Resampling methods in model validation.
 In T.&nbsp;Bartz-Beielstein, M.&nbsp;Chiarandini, L.&nbsp;Paquete, and M.&nbsp;Preuss,
  editors, <em>WEMACS &ndash; Proceedings of the Workshop on Experimental Methods
  for the Assessment of Computational Systems, Technical Report TR 10-2-007</em>.
  Department of Computer Science, TU Dortmund University, 2010.
[&nbsp;<a href="conferences_bib.html#Bischl2010">bib</a>&nbsp;| 
<a href="http://ls11-www.cs.uni-dortmund.de/_media/techreports/tr10-07.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2010_2">5</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, M.&nbsp;Eichhoff, and C.&nbsp;Weihs.
 Selecting groups of audio features by statistical tests and the group
  lasso.
 In <em>9. ITG Fachtagung Sprachkommunikation</em>, Berlin, Offenbach,
  2010. VDE Verlag.
[&nbsp;<a href="conferences_bib.html#Bischl2010_2">bib</a>&nbsp;| 
<a href="/mypapers/selecting_groups_of_audio_features_by_statistical_tests_and_the_group_lasso.pdf">.pdf</a>&nbsp;| 
<a href="http://www.vde-verlag.de/proceedings-de/453300015.html">.html</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2010_3">4</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, I.&nbsp;Vatolkin, and M.&nbsp;Preuss.
 Selecting small audio feature sets in music classification by means
  of asymmetric mutation.
 In <em>PPSN XI: Proceedings of the 11th International Conference on
  Parallel Problem Solving from Nature</em>, volume 6238 of <em>Lecture Notes in
  Computer Science</em>, pages 314&ndash;323. Springer, 2010.
[&nbsp;<a href="conferences_bib.html#Bischl2010_3">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-15844-5_32">DOI</a>&nbsp;| 
<a href="/mypapers/selecting_small_audio_feature_sets_in_music_classification_by_means_of_asymmetric_mutation.pdf">.pdf</a>&nbsp;| 
<a href="http://link.springer.com/chapter/10.1007\%2F978-3-642-15844-5_32">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Szepannek2010">3</a>]
</td>
<td class="bibtexitem">
G.&nbsp;Szepannek, M.&nbsp;Gruhne, B.&nbsp;Bischl, S.&nbsp;Krey, T.&nbsp;Harczos, F.&nbsp;Klefenz,
  C.&nbsp;Dittmar, and C.&nbsp;Weihs.
 Perceptually based phoneme recognition in popular music.
 In H.&nbsp;Locarek-Junge and C.&nbsp;Weihs, editors, <em>Classification as a
  Tool for Research</em>, volume&nbsp;40 of <em>Studies in Classification, Data
  Analysis, and Knowledge Organization</em>, pages 751&ndash;758, Berlin Heidelberg,
  2010. Springer.
[&nbsp;<a href="conferences_bib.html#Szepannek2010">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-10745-0_83">DOI</a>&nbsp;| 
<a href="/mypapers/perceptually_based_phoneme_recognition_in_popular_music.pdf">.pdf</a>&nbsp;| 
<a href="http://link.springer.com/chapter/10.1007%2F978-3-642-10745-0_83">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Weihs2010">2</a>]
</td>
<td class="bibtexitem">
C.&nbsp;Weihs, M.&nbsp;O., B.&nbsp;Bischl, A.&nbsp;Fritsch, H.&nbsp;Trautmann, T.-M. Karbach, and
  B.&nbsp;Spaan.
 A case study on the use of statistical classification methods in
  particle physics.
 In <em>MSDM2010, Tunis</em>, 2010.
[&nbsp;<a href="conferences_bib.html#Weihs2010">bib</a>&nbsp;| 
<a href="http://link.springer.com/content/pdf/10.1007/978-3-642-24466-7_8.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Szepannek2007">1</a>]
</td>
<td class="bibtexitem">
G.&nbsp;Szepannek, B.&nbsp;Bischl, and C.&nbsp;Weihs.
 On the combination of locally optimal pairwise classifiers.
 In <em>Machine Learning and Data Mining in Pattern Recognition</em>,
  volume 4571 of <em>Lecture Notes in Computer Science</em>, pages 104&ndash;116,
  Berlin Heidelberg, 2007. Springer.
[&nbsp;<a href="conferences_bib.html#Szepannek2007">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-540-73499-4_9">DOI</a>&nbsp;| 
<a href="/mypapers/on_the_combination_of_locally_optimal_pairwise_classifiers_1.pdf">.pdf</a>&nbsp;| 
<a href="http://link.springer.com/chapter/10.1007%2F978-3-540-73499-4_9">http</a>&nbsp;]

</td>
</tr>
</table><h1>Technical Reports (Not Peer Reviewed)</h1>
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2012_2">3</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, M.&nbsp;Lang, O.&nbsp;Mersmann, J.&nbsp;Rahnenfuehrer, and C.&nbsp;Weihs.
 Computing on high performance clusters with R: Packages BatchJobs
  and BatchExperiments.
 Technical report, TU Dortmund, 2012.
[&nbsp;<a href="techreports_bib.html#Bischl2012_2">bib</a>&nbsp;| 
<a href="http://sfb876.tu-dortmund.de/PublicPublicationFiles/bischl_etal_2012a.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Koch2011">2</a>]
</td>
<td class="bibtexitem">
P.&nbsp;Koch, B.&nbsp;Bischl, O.&nbsp;Flasch, T.&nbsp;Bartz-Beielstein, and W.&nbsp;Konen.
 On the tuning and evolution of support vector kernels.
 Technical report, Cologne University of Applied Science, Cologne
  University of Applied Science, Faculty of Computer Science and Engineering
  Science, 2011.
[&nbsp;<a href="techreports_bib.html#Koch2011">bib</a>&nbsp;| 
<a href="http://maanvs03.gm.fh-koeln.de/webpub/CIOPReports.d/Koch11a.d/svmTuning.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bischl2009">1</a>]
</td>
<td class="bibtexitem">
B.&nbsp;Bischl, U.&nbsp;Ligges, and C.&nbsp;Weihs.
 Frequency estimation by DFT interpolation: A comparison of methods.
 Technical report, TU Dortmund, 2009.
[&nbsp;<a href="techreports_bib.html#Bischl2009">bib</a>&nbsp;| 
<a href="http://www.statistik.tu-dortmund.de/fileadmin/user_upload/Lehrstuehle/MSind/SFB_475/2009/tr06-09.pdf">.pdf</a>&nbsp;]

</td>
</tr>
</table>
